# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
_client
__client
_server
_pages
_video-editor
ams
dist
aistudio
aistudio_source
aistudio-data
server/logs
server/node_modules
server/server.log
server/tmp
# Node dependencies
node_modules
backup
tmp
standalone

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
pnpm-lock.yaml
.vscode/settings.json
server/build_log_utf8.txt
server/build_log_v2.txt
server/build_log.txt
server/cert1.pem
server/chain1.pem
server/eval_log.txt
server/fullchain1.pem
