# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
_client
__client
_server
_pages
_video-editor
ams
dist
aistudio
aistudio_source
aistudio-data
server/logs
server/node_modules
server/server.log
server/tmp
# Node dependencies
node_modules
backup

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
