# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
_client
__client
_server
_pages
_video-editor
ams
aistudio
aistudio_source
aistudio-data
server/logs
server/node_modules
server/server.log
server/tmp
server/dist
server/src/scripts
flow2api
flow2api_tupdater
Flow2API-Token-Updater
vroid-scripts
# Node dependencies
node_modules
backup
tmp
standalone
client/node_modules
# Build outputs
dist
dist-*
client/dist
server/dist
electron/dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.electron
!electron/.env.enc
pnpm-lock.yaml
.vscode/settings.json
server/build_log_utf8.txt
server/build_log_v2.txt
server/build_log.txt
server/cert1.pem
server/chain1.pem
server/eval_log.txt
server/fullchain1.pem
server/migrate_logger.mjs
server/migrate_systemLogger.mjs
server/tsc_output.txt
server/tsc_output_fixed.txt
server/tsc_output_utf8.txt

# Electron server dependencies build folder
electron/server-deps
electron/dist
gcp-service-account.json
client/package-lock.json
server/package-lock.json
electron/package-lock.json
server/scripts/bin
server/scripts/test_*.ts
server/scripts/service-*.ps1
server/scripts/service-*.sh
*/*._
client/dist.zip
